<style>

		img {

			text-align: center;
		}

		body {

			background-color: #A73527;
			

		}

		hr.style-two {
		    border: 0;
		    height: 1px;
		    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
		    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
		    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
		    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
		}


		#resume {
			background-color: white;
			margin: 0 auto;
			width: 800px;
			padding:0px 40px 0px 40px;
			border-top:20px solid #EE2A27;
			border-bottom:20px solid #EE2A27;
			border-radius: 20px;
			

		}

		.name {
			clear: both;
			width: 300px;
			margin: 0 auto;
			text-align: center;
		}

		#contact {
			text-align: right;
		}

		#role {
			color: black;
			font-family: 'Exo 2', sans-serif;
			font-size: 18px;


		}

		#design {
			text-align: right;
			margin-bottom: 15px;
			color: #585858;
		}

		.left-panel {
			float:left;
			width:300px;			
		}

		.right-panel {
			float:right;
			width:500px;
		
		}

		a {
			color: #A73527;
		}

		a:hover {
			color:#EE2A27;
		}

		p, li{

			font-family: Arial, Arial, Helvetica, sans-serif;
			font-size: 14px;
		}

		section {
			clear:both;
			overflow: hidden;
		}

		h1 {

			font-family: 'Source Sans Pro', sans-serif;
			margin-bottom: -15px;	
			
		}

		h2 {

			color:#585858;
			font-family: 'Source Sans Pro', sans-serif;
		}

		h3 {
			color:#333333;
			font-family: Arial, Arial, Helvetica, sans-serif;
			font-weight: bold;
			font-size: 18px;
			font-weight: 100;
		}

		img {

			height:150px;
			width: 150px;
		}




		</style>